#pc-wrap {
	#my-articles-page {
		width: 100%;
		height: auto;
		.main-title-box {
			width: auto;
			height: auto;
			flex-direction: row;
			justify-content: space-between;
			.right-box {
				width: 315px;
				.main-title {
					color: #181a20;
					font-family: $font;
					font-size: 30px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
					letter-spacing: 0.6px;
					text-transform: capitalize;
				}
				.sub-title {
					color: #181a20;
					font-family: $font;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 26px;
				}
			}
		}
		.article-list-box {
			width: 100%;
			height: auto;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 25px;
			margin-top: 55px;
			margin-bottom: 87px;
		}
		.pagination-conf {
			width: 100%;
			align-items: center;
			justify-content: center;
			margin-bottom: 50px;
			gap: 20px;
			.pagination-box {
				align-items: center;
				justify-content: center;
				.Mui-selected {
					background-color: #217cc7 !important;
					color: #fff !important;
				}
			}
			.total {
				p {
					color: #181a20;
					font-size: 14px;
					text-align: center;
					font-family: $font;
					font-style: normal;
					font-weight: 400;
					line-height: 26px;
				}
			}
		}
	}
}
